#historySection{
   
width: 700px;
margin-left: auto;
margin-right: auto;
margin-bottom: 73px;
margin-top: 60px;
height: 100%;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f8f8f8;
resize: none;
}
#historyUrl{
   color: cadetblue;
   font-family: cursive;
   display: inline;
   
}
#historyUrl:hover{
    cursor: auto;
  }

#historyMethodButton{
    margin: 25px;
}
button:hover{
    cursor: pointer;
}
#urlHistoryHeader{
    font-family: cursive;
    color: #2f686a;
    font-size: 26px;
}